/* Note how relative measurements are being used for some of the box properties
  in the rules below.
  This is one of the main ideas of RWD, as it means properties like margin and padding
  alter dynamically as the browser viewport resizes, hopefully making the text display
  look more satisfying in relation to the size of the browser window. */

body {
  background-color: rgb(124, 142, 143);
  min-width: 320px;
  margin: 0;
}

#wrapper {
  background-color: rgb(152, 194, 144);
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: orange; 
  padding: 0.5rem 3%;
}

header h1 {
  background-color: rgb(85, 85, 236); 
  margin: 0;
  font-size: 2rem;
}

main {
  background-color: rgb(162, 162, 190);
  padding: 0.5rem 3%;
}

main h1 {
  background-color: rgb(106, 106, 189);
  font-size: 1.4rem;
}

main p {
  background-color: rgb(200,215,255);
}

footer {
  background-color: rgb(175, 196, 155);
  padding: 0.5rem 3%;
}

footer p {
  background-color: rgb(206, 127, 170);
  margin: 0;
}

/* media rules ~~~~~~~~~~~~~~~~~~~~ */

/* add media rules here */
@media screen and (min-width: 500px) {
  header h1 {
    font-size: 5rem;
  }
  p {
    font-size: 2rem; /* Change paragraph text size */
  }

  /* Change background color of paragraphs with class "highlight" */
  p.highlight {
    background-color: lime;
  }
  main h1 {
    font-size:3rem;
    background-color: yellow;
  }
}

@media screen and (min-width: 1400px) {
  #wrapper { width: 80%; margin: 0 auto; }
}
main {
  display: flex;
  flex-direction: column;
  /* other properties */
}
  main div {
    background-color: rgb(100,200,100);
  }
  
  main aside {
    background-color: rgb(200,100,100);
  }

@media screen and (min-width: 600px) {
  main {
    flex-direction: row;
  }
}