body, h1, p, ul, li {
    margin: 10;
    padding: 10;
  }
  
  body {
    font-family: 'Arial';
    line-height: 1.6;
    background-color:white;
    color: #333;
  }
  
  header, main, footer {
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
  }
  
  header {
    background-image: url('Yellow\ background\ image\ for\ title.jpg'); /* This will allow the title to have a background image */
    color: White;
    text-align: center;
    padding: 25px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    background-color: white;
    box-shadow: 0 0 10px rgb(255, 170, 51);
    border-radius: 10px;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  h1 {
    color: purple;
  }
  
  p {
    margin-bottom: 25px;
  }
  
  u {
    color: purple;
    text-decoration: none;
  }
  
  footer {
    margin-top: 20px;
    background-image: url('Yellow\ background\ image\ for\ title.jpg'); /* This will allow the title to have a background image */
    color: purple;
    text-align: center;
    padding: 10px;
  }
  
  footer a {
    color: purple;
    margin: 0 15px;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  h1.underline {
    color:purple;
    text-decoration: underline;
  }